
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 48, 48);
}
div.logslist{
    width: 100%;
    height: 300px;
    overflow:auto;
}
.funkyradio div {
clear: both;
overflow: hidden;
}
.funkyradio label {
width: 100%; 
border-radius: 3px;
border: 1px solid #D1D3D4;
font-weight: normal;
}
.funkyradio input[type="checkbox"]:empty {
display: none;
}
.funkyradio input[type="checkbox"]:empty ~ label {
position: relative;
line-height: 2.5em;
text-indent: 3.25em;
margin-top: 2em;
cursor: pointer;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.funkyradio input[type="checkbox"]:empty ~ label:before {
position: absolute;
display: block;
top: 0;
bottom: 0;
left: 0;
content: '';
width: 2.5em;
background: #D1D3D4;
border-radius: 3px 0 0 3px;
}
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
color: #888;
}
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
content: '\2714';
text-indent: .9em;
color: #C2C2C2;
}
.funkyradio input[type="checkbox"]:checked ~ label {
color: #777;
}
.funkyradio input[type="checkbox"]:checked ~ label:before {
content: '\2714';
text-indent: .9em;
color: #333;
background-color: #ccc;
}
.funkyradio input[type="checkbox"]:focus ~ label:before {
box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
color: #333;
background-color: #ccc;
}
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
color: #fff;
background-color: #337ab7;
}
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
color: #fff;
background-color: #5cb85c;
}
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
color: #fff;
background-color: #d9534f;
}
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
color: #fff;
background-color: #f0ad4e;
}
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
color: #fff;
background-color: #5bc0de;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.table td{
           
  text-align: center;   
      }
  .table th{
     
  text-align: center;   
      }
  #wrapper {
      padding: 90px 15px;
  }
  .navbar-expand-lg .navbar-nav.side-nav {
      flex-direction: column;
  }
  .header-top {
      box-shadow: 0 3px 5px rgba(0,0,0,.1);
  }
  .leftmenutrigger {
      display: none;
  }
  
  #pageDropDown {
      display: none;
  }
  .side-nav a {
      font-size: 20px;
      color: #818181;
      width: 60%;
      padding: 10px;
  }
  @media(min-width:992px) {
      #table_id {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
      }
      .leftmenutrigger {
          display: block;
          display: block;
          margin: 7px 20px 4px 0;
          cursor: pointer;
      }
      #wrapper {
          padding: 90px 15px 15px;
      }
      .navbar-nav.side-nav.open {
          left: 0;
      }
      .navbar-nav.side-nav {
          background: #585f66;
          box-shadow: 2px 1px 2px rgba(0,0,0,.1);
          position: fixed;
          top: 56px;
          flex-direction: column!important;
          left: -220px;
          width: 200px;
          overflow-y: auto;
          bottom: 0;
          overflow-x: hidden;
          padding-bottom: 40px;
      }
  }
  .animate {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }